{% load crispy_forms_tags %}

<div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Make Request
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}<br>
                            <input class="btn btn-info btn-block" type="submit" value="Make Request">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Orders Records
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col">Patient</th>
                                    <th scope="col">Patient's Category</th>
                                    <th scope="col">Medicines</th>
                                    <th scope="col">Medicine Category</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Issue by</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicines in medicines %}
                                <tr>
                                    <td>{{medicines.patient}}</td>
                                    <td>{{medicines.patient.category}}</td>
                                    <td>{{medicines.medicine_name}}</td>
                                    <td>{{medicines.medicine_category}}</td>
                                    <td>{{medicines.medicine_quantity}}</td>
                                    <td>{{medicines.staff}}</td>
                                    <td>{{medicines.date}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>